<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <!--Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c - %m%n"/>
        </Console>
    </Appenders-->
    <Loggers>
        <Logger name="org.pf4j" level="ERROR"/>
        <Logger name="org.pf4j.AbstractExtensionFinder" level="ERROR"/>
        <Logger name="org.pf4j.PluginClassLoader" level="ERROR"/>
        <Root level="ERROR">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>