<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="org.pf4j" level="DEBUG"/>
        <Logger name="org.pf4j.AbstractExtensionFinder" level="DEBUG"/>
        <Logger name="org.pf4j.PluginClassLoader" level="DEBUG"/>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>